# Access job
PORT=$(python3 -c 'import socket; s=socket.socket(); s.bind(("", 0)); print(s.getsockname()[1]); s.close()')
echo $PORT > "<<river_home>>/.river/jobs/<<uuid_job_id>>/job.port"
echo $(hostname) > "<<river_home>>/.river/jobs/<<uuid_job_id>>/job.host"
touch "<<river_home>>/.river/jobs/<<uuid_job_id>>/job.url"